@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79P0U.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizfRExUiTo99u79B_mh4Ok.ttf) format('truetype');
}
.page__header {
  position: relative;
  height: 56px;
}
@media (max-width: 767px) {
  .page__header {
    display: flex;
    justify-content: center;
  }
}
.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 56px;
}
@media (max-width: 767px) {
  .site-navigation {
    display: none;
  }
}
@media (min-width: 768px) {
  .site-navigation {
    display: flex;
    justify-content: space-between;
  }
}
.site-navigation__item {
  text-align: center;
}
.site-navigation__item:nth-child(2) {
  padding-right: 78px;
}
.site-navigation__item:nth-child(3) {
  padding-left: 78px;
}
.site-navigation__button {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  display: block;
  width: 153px;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 14px;
}
.site-navigation__button:hover,
.site-navigation__button:focus {
  color: #81b3d2;
}
.site-navigation__button:active {
  opacity: 0.3;
}
.site-navigation__button--current {
  color: #766357;
}
.site-navigation__button--current:hover,
.site-navigation__button--current:focus {
  color: #604e43;
}
.site-navigation__button--current:active {
  opacity: 0.3;
}
.main-nav__toggle {
  padding: 0;
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav__toggle::before {
  position: absolute;
  right: 0;
  content: "";
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
  top: 0;
}
@media (min-width: 768px) {
  .header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: "PT Sans";
}
picture {
  display: block;
}
.button {
  background-color: #81b3d2;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  padding: 0 32px;
}
.button:hover,
.button:focus {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496bd;
  color: #ffffff30;
}
.button-index {
  padding-top: 14.5px;
  padding-bottom: 17.5px;
}
.page {
  max-width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .page {
    max-width: 1200px;
  }
}
.intro__logo {
  display: flex;
  justify-content: center;
  background-color: #81b3d2;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
@media (min-width: 768px) {
  .intro__logo {
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-size: contain, cover;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .intro__logo {
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .intro__logo {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url(../img/bg-back-desktop@2x.jpg);
  }
}
.intro__logo img {
  width: 282px;
  height: 214px;
  padding-top: 90px;
  padding-bottom: 85px;
}
@media (min-width: 768px) {
  .intro__logo img {
    width: 461px;
    height: 350px;
    padding-top: 77px;
    padding-bottom: 91px;
  }
}
.intro__description {
  text-transform: uppercase;
  line-height: 26px;
  text-align: center;
  margin-top: 32px;
  padding-bottom: 48px;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='320px' height='26.111px' viewBox='440.469 30.889 320 26.111' enable-background='new 440.469 30.889 320 26.111' xml:space='preserve'%3E%3Cpolygon fill='%2381B3D2' points='760.469,57 760.469,30.889 599.955,57'/%3E%3Cpolygon fill='%2381B3D2' points='440.469,57 599.955,57 440.469,31.056'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: bottom;
}
@media (min-width: 768px) {
  .intro__description {
    margin-top: 43px;
    padding-bottom: 52px;
    background: none;
  }
}
@media (min-width: 1200px) {
  .intro__description {
    margin-top: 55px;
    padding-bottom: 41px;
  }
}
.intro__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0 15px;
  width: 285px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .intro__title {
    width: 520px;
  }
}
.intro__text {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  margin: 0 auto;
  width: 285px;
}
@media (min-width: 768px) {
  .intro__text {
    width: 520px;
  }
}
.features {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media (min-width: 768px) {
  .features__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 256px;
  }
}
.features__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #81b3d2;
  padding-top: 33px;
  padding-bottom: 33px;
  padding-left: 13px;
  padding-right: 12px;
}
@media (min-width: 768px) {
  .features__description {
    padding: 0 32px;
    padding-top: 40px;
    padding-bottom: 39px;
    box-sizing: border-box;
    height: 256px;
  }
}
@media (min-width: 1200px) {
  .features__description {
    padding-top: 47px;
    padding-bottom: 57px;
    padding-left: 53px;
    padding-right: 52px;
  }
}
.features__image {
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
}
.description__title {
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .description__title {
    font-size: 21px;
  }
}
.description__subtitle {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 12px;
}
.description__slogan {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
.wrapper__second {
  overflow: hidden;
}
@media (max-width: 767px) {
  .wrapper__second br {
    display: none;
  }
}
@media (min-width: 768px) {
  .wrapper__second {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}
@media (min-width: 1200px) {
  .wrapper__second img {
    width: 100%;
  }
}
.wrapper__second .features__description {
  order: 2;
}
.tips {
  text-transform: uppercase;
  text-align: left;
  padding: 35px 0;
}
@media (min-width: 768px) {
  .tips {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    padding-left: 36px;
    padding-right: 31px;
  }
}
@media (min-width: 768px) {
  .tips {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 0;
  }
}
.tips__item {
  position: relative;
  padding-bottom: 26px;
  padding-left: 69px;
  padding-right: 11px;
}
.tips__item:nth-child(2) {
  padding-right: 31px;
}
@media (max-width: 767px) {
  .tips__item:last-child {
    padding-bottom: 0;
  }
}
@media (min-width: 768px) {
  .tips__item {
    padding: 0 35px;
    padding-top: 158px;
    padding-bottom: 60px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .tips__item {
    padding-bottom: 80px;
  }
}
.tips .item__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .tips .item__title {
    font-size: 21px;
    padding-bottom: 23px;
  }
}
.tips .item__text {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
}
@media (min-width: 768px) {
  .tips .item__house {
    order: 1;
  }
}
.tips .item__house::before {
  position: absolute;
  content: url(../img/icon-house.svg);
  top: 0;
  left: 21px;
  transform: translateY(-25%);
  width: 39px;
  height: 37px;
}
@media (min-width: 768px) {
  .tips .item__house::before {
    left: 0;
    transform: translate3d(117%, 75%, 0);
    width: 75px;
    height: 72px;
  }
}
@media (min-width: 1200px) {
  .tips .item__house::before {
    transform: translate3d(225%, 75%, 0);
  }
}
@media (max-width: 767px) {
  .tips .item__burger br {
    display: none;
  }
}
@media (min-width: 768px) {
  .tips .item__burger {
    order: 2;
  }
}
.tips .item__burger ::before {
  position: absolute;
  content: url(../img/icon-burger.svg);
  top: 0;
  left: 18px;
  transform: translateY(-25%);
  width: 40px;
  height: 35px;
}
@media (min-width: 768px) {
  .tips .item__burger ::before {
    left: 0;
    transform: translate3d(115%, 84%, 0);
    width: 76px;
    height: 68px;
  }
}
@media (min-width: 1200px) {
  .tips .item__burger ::before {
    transform: translate3d(215%, 85%, 0);
  }
}
@media (min-width: 768px) {
  .tips .item__gift {
    order: 3;
  }
}
@media (max-width: 768px) {
  .tips .item__gift br {
    display: none;
  }
}
.tips .item__gift ::before {
  position: absolute;
  content: url(../img/icon-gift.svg);
  width: 32px;
  height: 38px;
  top: 0;
  left: 25px;
  transform: translateY(-25%);
}
@media (min-width: 768px) {
  .tips .item__gift ::before {
    left: 0;
    transform: translate3d(150%, 65%, 0);
    width: 64px;
    height: 75px;
  }
}
@media (min-width: 1200px) {
  .tips .item__gift ::before {
    transform: translate3d(275%, 57%, 0);
  }
}
.reasons {
  text-align: center;
  list-style: none;
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .reasons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 256px;
  }
}
.reasons__item {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 0 35px;
  padding-top: 25px;
  padding-bottom: 24px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .reasons__item {
    padding-top: 41px;
  }
  .reasons__item::before {
    display: none;
  }
  .reasons__item:nth-child(2) .reasons__text {
    padding: 0 20px;
    padding-top: 25px;
  }
  .reasons__item:nth-child(3) .reasons__text {
    padding: 0 25px;
    padding-top: 25px;
  }
}
.reasons__item:last-of-type::before {
  display: none;
}
.reasons__item::before {
  position: absolute;
  content: "";
  width: 280px;
  height: 1px;
  background-color: #d6d6d6;
  bottom: 0;
  left: 20px;
}
.reasons__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}
@media (max-width: 767px) {
  .reasons__title br {
    display: none;
  }
}
.reasons__subtitle {
  color: #333333;
  margin: 0;
  padding-top: 15px;
}
.reasons__text {
  font-size: 14px;
  line-height: 21px;
  padding-top: 25px;
  color: #333333;
  margin: 0;
}
@media (max-width: 767px) {
  .reasons__text br {
    display: none;
  }
}
.interest {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  padding-top: 33px;
  padding-bottom: 49px;
}
@media (max-width: 767px) {
  .interest br {
    display: none;
  }
}
@media (min-width: 768px) {
  .interest {
    padding-top: 57px;
    padding-bottom: 58px;
  }
}
@media (min-width: 1200px) {
  .interest {
    padding-bottom: 66px;
  }
}
.interest__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.interest__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 9px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .interest__item {
    padding-left: 12px;
    padding-right: 11px;
  }
}
.interest__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .interest__title {
    font-size: 30px;
  }
}
.interest__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 27px;
}
.map {
  min-height: 350px;
  max-height: 350px;
  min-width: 320px;
  background-image: url(../img/icon-map-marker.svg), url(../img/bg-map-mobile@1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .map {
    min-width: 768px;
    background-image: url(../img/icon-map-marker.svg), url(../img/bg-map-tablet@1x.jpg);
  }
}
@media (min-width: 1200px) {
  .map {
    min-width: 1200px;
    background-image: url(../img/icon-map-marker.svg), url(../img/bg-map-desktop@1x.jpg);
  }
}
.map iframe {
  width: 100%;
}
.footer {
  text-align: center;
  margin: 0 76px;
  margin-top: 38.5px;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .footer {
    margin: 36px auto;
  }
}
.footer__wrapper {
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-around;
  }
}
.footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 33.5px;
}
@media (min-width: 768px) {
  .footer__hashtag {
    padding: 0;
  }
}
.footer__social {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.footer__copyright {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
@media (min-width: 768px) {
  .footer__copyright {
    padding: 0;
  }
}
.footer__copyright .copyright__brand {
  padding-right: 10px;
}
.footer__copyright:hover svg,
.footer__copyright:focus svg {
  fill: #81b3d2;
}
.footer__copyright:active svg {
  opacity: 0.3;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 46px;
  min-height: 48px;
  margin: auto;
  background-color: #81b3d2;
}
.social__link:hover,
.social__link:focus {
  background-color: #669ec0;
}
.social__link:active {
  background-color: #5496bd;
}
.social__link:active svg {
  opacity: 0.3;
}
.social__link svg {
  fill: #ffffff;
}
.social__item {
  padding: 0 10px;
}
.social__item:nth-child(2) {
  padding: 0;
}
body {
  font-family: "PT Sans", sans-serif;
}

/*# sourceMappingURL=style.css.map */
