@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79P0U.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizfRExUiTo99u79B_mh4Ok.ttf) format('truetype');
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: "PT Sans";
}
picture {
  display: block;
}
input {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
.button {
  background-color: #81b3d2;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  height: 58px;
  padding: 0 32px;
  border: 0;
}
.button:hover,
.button:focus {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496bd;
  color: #ffffff30;
}
.button-index {
  padding-top: 14.5px;
  padding-bottom: 17.5px;
}
.button--form {
  padding-top: 18.5px;
  padding-bottom: 13.5px;
  margin: 0 20px;
}
.container {
  max-width: 320px;
  width: 100%;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.page {
  min-width: 320px;
  max-width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .page {
    max-width: 1200px;
  }
}
.page__header {
  position: relative;
  height: 56px;
}
@media (max-width: 767px) {
  .page__header {
    display: flex;
    justify-content: center;
  }
}
.page__header .container {
  display: flex;
  align-items: center;
  justify-content: right;
}
@media (min-width: 768px) {
  .page__header .container {
    justify-content: center;
  }
}
.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
@media (max-width: 767px) {
  .site-navigation--closed {
    display: none;
  }
}
@media (min-width: 768px) {
  .site-navigation {
    position: static;
    display: flex;
    justify-content: space-between;
    transform: none;
  }
  .site-navigation__item {
    text-align: center;
  }
  .site-navigation__item:nth-child(2) {
    padding-right: 78px;
  }
  .site-navigation__item:nth-child(3) {
    padding-left: 78px;
  }
}
.site-navigation__button {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  display: block;
  width: 320px;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 14px;
  background-color: #81B3D2;
  text-align: center;
  box-shadow: 0px 1px 0px gray, inset 0px 1px 0px rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid gray;
}
@media (min-width: 768px) {
  .site-navigation__button {
    box-shadow: none;
    border-bottom: none;
    color: #000000;
    width: 153px;
    background-color: transparent;
  }
}
@media (min-width: 1200px) {
  .site-navigation__button {
    width: 250px;
  }
}
.site-navigation__button:hover,
.site-navigation__button:focus {
  color: #81b3d2;
}
.site-navigation__button:active {
  opacity: 0.3;
}
.site-navigation__button--current {
  color: #766357;
}
.site-navigation__button--current:hover,
.site-navigation__button--current:focus {
  color: #604e43;
}
.site-navigation__button--current:active {
  opacity: 0.3;
}
.main-nav__toggle {
  padding: 0;
  width: 23px;
  height: 22px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 40;
}
.main-nav__toggle--closed {
  z-index: 40;
}
.main-nav__toggle--closed::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 4px;
  border-radius: 5px;
  background-color: #81B3D2;
  box-shadow: 0 10px 0 0 #81B3D2, 0 20px 0 0 #81B3D2;
  z-index: 1000;
  top: 0px;
  right: 0px;
}
.main-nav__toggle--closed:focus::before,
.main-nav__toggle--closed:hover::before {
  background-color: #81B3D260;
  box-shadow: 0 10px 0 0 #81B3D260, 0 20px 0 0 #81B3D260;
}
.main-nav__toggle--opened {
  z-index: 40;
}
.main-nav__toggle--opened::before,
.main-nav__toggle--opened::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 3px;
  border-radius: 5px;
  background-color: #ffffff;
  top: 10px;
  right: 0px;
}
.main-nav__toggle--opened::before {
  transform: rotate(45deg);
}
.main-nav__toggle--opened::after {
  transform: rotate(-45deg);
}
.main-nav__toggle--opened:focus::before,
.main-nav__toggle--opened:focus::after,
.main-nav__toggle--opened:hover::after,
.main-nav__toggle--opened:hover::before {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
@media (min-width: 768px) {
  .header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}
.footer {
  text-align: center;
  margin: 0 76px;
  margin-top: 38.5px;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .footer {
    margin: 36px auto;
  }
}
.footer__wrapper {
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-around;
  }
}
.footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 33.5px;
}
@media (min-width: 768px) {
  .footer__hashtag {
    padding: 0;
  }
}
.footer__social {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.footer__copyright {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
@media (min-width: 768px) {
  .footer__copyright {
    padding: 0;
  }
}
.footer__copyright .copyright__brand {
  padding-right: 10px;
}
.footer__copyright:hover svg,
.footer__copyright:focus svg {
  fill: #81b3d2;
}
.footer__copyright:active svg {
  opacity: 0.3;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 46px;
  min-height: 48px;
  margin: auto;
  background-color: #81b3d2;
}
.social__link:hover,
.social__link:focus {
  background-color: #669ec0;
}
.social__link:active {
  background-color: #5496bd;
}
.social__link:active svg {
  opacity: 0.3;
}
.social__link svg {
  fill: #ffffff;
}
.social__item {
  padding: 0 10px;
}
.social__item:nth-child(2) {
  padding: 0;
}
.custom-radio {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.custom-radio + label {
  display: inline-flex;
  align-items: center;
}
.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 58px;
  height: 58px;
  margin-right: 26px;
  background-color: #f2f2f2;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 50%;
}
/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked + label::before {
  background-color: #333333;
  flex-shrink: 0;
  flex-grow: 0;
  border: 15px solid #e5e5e5;
}
/* стили при наведении курсора на радио */
.custom-radio:not(:disabled):not(:checked) + label:hover::before {
  background-color: #e5e5e5;
}
.custom-radio:not(:disabled):checked + label:hover::before {
  background-color: #333333;
  border-color: #e5e5e5;
}
/* стили при нажатии на неё */
.custom-radio:not(:disabled):active + label::before {
  background-color: #d5d5d5;
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 15%;
  margin-right: 29px;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-checkbox:checked + label::before {
  background-color: #f2f2f2;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='17' viewBox='0 0 24 17' fill='none' xmlns='http://www.w3.org/2000/svg%27%3E%3Cpath d='M22.925 1.325L21.825 0.225C21.525 -0.075 20.925 -0.075 20.625 0.225L8.725 12.125L2.525 5.925C2.225 5.625 1.625 5.625 1.325 5.925L0.225 7.025C-0.075 7.325 -0.075 7.925 0.225 8.225L8.025 16.025C8.225 16.225 8.425 16.225 8.625 16.225C8.825 16.225 9.025 16.125 9.225 16.025L22.725 2.525C23.225 2.225 23.225 1.725 22.925 1.325Z' fill='black'/%3E%3C/svg%3E%0A");
}
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  background-color: #e5e5e5;
}
.custom-textarea {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 0 22px;
  padding-top: 12px;
  margin-top: 5px;
  margin-bottom: 31px;
  max-height: 100%;
  border: 0;
  outline: 2px solid #ffffff;
  resize: none;
  background-color: #f2f2f2;
}
.custom-textarea::-moz-placeholder {
  color: #000000;
}
.custom-textarea::placeholder {
  color: #000000;
}
input[type="email"] {
  background-color: #f2f2f2;
  border: 0;
  height: 58px;
  width: calc(100% - 58px);
  padding: 0;
  padding-left: 23px;
  padding-right: 23px;
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
input[type="email"]:hover,
input[type="email"]:focus {
  background-color: #e5e5e5;
}
@media (min-width: 1200px) {
  input[type="email"] {
    width: calc(78% - 58px);
  }
}
input[type="text"] {
  background-color: #f2f2f2;
  border: 0;
  height: 58px;
  width: 100%;
  padding: 0;
  padding-left: 22px;
  margin: 0;
  margin-left: 13px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
input[type="text"]:hover,
input[type="text"]:active {
  background-color: #e5e5e5;
}
input[type="text"]:focus {
  background-color: #ffffff;
  outline: 4px solid #e5e5e5;
}
input[type="tel"] {
  background-color: #f2f2f2;
  border: 0;
  height: 58px;
  width: calc(100% - 58px);
  padding: 0;
  padding-left: 23px;
  padding-right: 23px;
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
input[type="tel"]:hover,
input[type="tel"]:focus {
  background-color: #e5e5e5;
}
.custom-range {
  -webkit-appearance: none;
  width: 100%;
  overflow: hidden;
  background-color: #00000060;
  height: 45px;
  margin: 0;
  padding: 0 22px;
}
.custom-range:focus {
  outline: none;
}
.custom-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #ffffff20;
  border-radius: 0px;
  border: 0px solid #000000;
}
.custom-range::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #2497e3;
  height: 13px;
  width: 13px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
.custom-range:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
.custom-range::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  -moz-transition: 0.2s;
  transition: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #ffffff20;
  border-radius: 0px;
  border: 0px solid #000000;
}
.custom-range::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #2497e3;
  height: 13px;
  width: 13px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
.custom-range::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  -ms-transition: 0.2s;
  transition: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.custom-range::-ms-fill-lower {
  background: #ffffff;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
.custom-range::-ms-fill-upper {
  background: #ffffff;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
.custom-range::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #2497e3;
  height: 13px;
  width: 13px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
.custom-range:focus::-ms-fill-lower {
  background: #ffffff;
}
.custom-range:focus::-ms-fill-upper {
  background: #ffffff;
}
.intro__logo {
  display: flex;
  justify-content: center;
  background-color: #81b3d2;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto;
}
@media (min-width: 768px) {
  .intro__logo {
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-size: contain, cover;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .intro__logo {
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .intro__logo {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url(../img/bg-back-desktop@2x.jpg);
  }
}
.intro__logo img {
  width: 229px;
  height: 39px;
  padding-top: 50px;
  padding-bottom: 65px;
}
@media (min-width: 768px) {
  .intro__logo img {
    width: 456.9px;
    height: 77.6px;
    padding-top: 75px;
    padding-bottom: 115px;
  }
}
@media (min-width: 1200px) {
  .intro__logo img {
    width: 459.5px;
    height: 79.8px;
    padding-top: 102px;
    padding-bottom: 120px;
  }
}
.intro__description {
  text-transform: uppercase;
  line-height: 26px;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .intro__description {
    padding-top: 70px;
    padding-bottom: 66.5px;
    background: none;
    border: none;
  }
}
@media (min-width: 1200px) {
  .intro__description {
    padding-top: 114px;
    padding-bottom: 56.5px;
  }
}
.intro__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto;
  padding-bottom: 35px;
  width: 285px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .intro__title {
    min-width: 435px;
    font-size: 30px;
  }
}
.intro__text {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  margin: 0 auto;
  width: 285px;
}
@media (max-width: 767px) {
  .intro__text br {
    display: none;
  }
}
@media (min-width: 768px) {
  .intro__text {
    width: 520px;
  }
}
@media (min-width: 768px) {
  .pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 480px 347px 347px;
    grid-template-areas: "sunset sunset" "cactus roads" "bridge .";
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .pictures {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 267px;
    grid-template-areas: "sunset sunset sunset" "cactus roads bridge";
    padding: 0;
  }
}
@media (min-width: 768px) {
  .pictures__wrapper {
    display: grid;
    grid-template-columns: -webkit-max-content -webkit-max-content;
    grid-template-columns: max-content max-content;
    grid-template-rows: -webkit-max-content -webkit-max-content;
    grid-template-rows: max-content max-content;
    grid-template-areas: "title like" "author like";
    justify-content: space-between;
    padding: 0 20px;
  }
}
@media (min-width: 1200px) {
  .pictures__wrapper {
    color: #ffffff;
    background-color: #00000030;
    transform: translateY(-100%);
  }
}
.pictures__container {
  padding: 20px;
  padding-top: 22px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .pictures__container {
    padding: 0px;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    background-color: #f2f2f2;
  }
}
.pictures__container--sunset {
  grid-area: sunset;
}
.pictures__container--cactus {
  grid-area: cactus;
}
.pictures__container--roads {
  grid-area: roads;
}
@media (min-width: 768px) {
  .pictures__container--roads {
    background-color: #eaeaea;
  }
}
.pictures__container--bridge {
  grid-area: bridge;
}
.pictures__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: inherit;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 3px;
  grid-area: title;
}
@media (min-width: 768px) {
  .pictures__title {
    margin-top: 17px;
    margin-bottom: 0;
  }
}
.pictures__author {
  margin: 0;
  margin-bottom: 10px;
  color: #333333;
  grid-area: author;
}
@media (min-width: 768px) {
  .pictures__author {
    margin-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .pictures__author {
    color: #ffffff;
  }
}
.pictures__like {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: 0;
  grid-area: like;
}
.pictures__like span {
  font-weight: 700;
  padding-left: 14px;
}
@media (min-width: 768px) {
  .pictures__like span {
    padding-left: 9px;
  }
}
@media (min-width: 1200px) {
  .pictures__like span {
    color: #ffffff;
  }
}
.pictures__like svg {
  opacity: 0.3;
}
@media (min-width: 1200px) {
  .pictures__like svg {
    opacity: 1;
    fill: #ffffff;
  }
}
.watch {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  padding-top: 33px;
  padding-bottom: 49px;
}
@media (min-width: 768px) {
  .watch {
    padding: 0 60px;
    padding-top: 59px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .watch {
    padding-bottom: 85px;
  }
}
.watch__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.watch__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 33px;
}
.watch__item br {
  display: none;
}
@media (min-width: 768px) {
  .watch__item {
    margin-bottom: 61px;
  }
  .watch__item br {
    display: inline;
  }
}
@media (min-width: 1200px) {
  .watch__item {
    margin-bottom: 66px;
  }
}
.watch__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .watch__title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 35px;
  }
}
.watch__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  padding-left: 10px;
  padding-right: 9px;
}
.watch__video {
  position: relative;
}
.custom-range {
  position: absolute;
  bottom: 66px;
  left: 0;
}
@media (min-width: 768px) {
  .custom-range {
    padding-left: 93px;
    padding-right: 166px;
    height: 93px;
    bottom: 0;
    z-index: -1;
  }
}
.video__wrapper {
  z-index: 1;
  background-color: #f2f2f2;
  display: grid;
  grid-template-rows: 66px;
  grid-template-columns: -webkit-min-content 148px -webkit-min-content;
  grid-template-columns: min-content 148px min-content;
  align-items: center;
  justify-items: center;
}
@media (min-width: 768px) {
  .video__wrapper {
    grid-template-rows: 93px;
    grid-template-columns: 93px auto 88px;
    background-color: transparent;
    transform: translateY(-100%);
    position: absolute;
    width: 100%;
  }
}
.subtitles,
.fullscreen,
.replay {
  max-width: 100%;
  max-height: 100%;
}
.subtitles svg,
.fullscreen svg,
.replay svg {
  fill: #5c6870;
}
.subtitles svg:hover,
.fullscreen svg:hover,
.replay svg:hover,
.subtitles svg:focus,
.fullscreen svg:focus,
.replay svg:focus,
.subtitles svg:active,
.fullscreen svg:active,
.replay svg:active {
  fill: #333333;
}
.subtitles svg:active,
.fullscreen svg:active,
.replay svg:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .subtitles svg,
  .fullscreen svg,
  .replay svg {
    fill: #ffffff;
  }
  .subtitles svg:hover,
  .fullscreen svg:hover,
  .replay svg:hover,
  .subtitles svg:focus,
  .fullscreen svg:focus,
  .replay svg:focus {
    fill: #ffffff60;
  }
  .subtitles svg:active,
  .fullscreen svg:active,
  .replay svg:active {
    opacity: 0.3;
  }
}
.subtitles {
  justify-self: end;
  padding: 23px;
}
.replay {
  padding: 23px 25px;
}
.fullscreen {
  max-height: 100%;
  padding: 23px;
}

/*# sourceMappingURL=style-photo.css.map */
