.page__header {
  @media (max-width: @mobile-width-only) {
    display: flex;
    justify-content: center;
  }
  position: relative;

  height: 56px;
}

.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 56px;

  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    text-align: center;

    &:nth-child(2) {
      padding-right: 78px;
    }

    &:nth-child(3) {
      padding-left: 78px;
    }
  }

  &__button {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;

    display: block;
    width: 153px;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 14px;
    // padding-top: 16px;
    // padding-bottom: 14px;

    &:hover,
    &:focus {
      color: #81b3d2;
    }

    &:active {
      opacity: 0.3;
    }

    &--current {
      color: #766357;

      &:hover,
      &:focus {
        color: #604e43;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }
}

.main-nav__toggle {
  padding: 0;
  position: absolute;
  top: 17px;
  right: 20px;

  width: 23px;
  height: 22px;
  background-color: transparent;
  border: 0;

  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: none;
  }

  &::before {
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    width: 23px;
    height: 4px;
    background-color: #81b3d2;
    box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;

    top: 0;
  }
}

.header__logo {
  @media (min-width: @tablet-width) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
